/* Estilos para o corpo e fundo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contêiner principal do jogo */
.game-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Título do jogo */
h1 {
  color: #333;
}

/* Estilos para as opções de escolha (Jogador e Computador) */
.choices,
.computer-images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.choice {
  margin: 0 20px;
  cursor: pointer;
  text-align: center;
}

.choice img {
  width: 100px;
  height: 100px;
}

.choice p {
  margin-top: 10px;
}

/* Estilos para a escolha do computador */
.computer-choice {
  margin-top: 30px;
}

/* Estilo da mensagem de resultado */
.game-result p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
}

/* Cor para mensagens de vitória ou derrota */
.win {
  color: green;
}

.lose {
  color: red;
}

.tie {
  color: orange;
}
